.blogs-body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.blogs-section-one {
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(4, 5, 14, 0.78);
}

.blogs-section-one h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 600;
}

/* styling for section two */
.blogs-section-two {
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  padding: 50px 10%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(4, 5, 14);
  box-sizing: border-box;
}
