.our-work-container {
  width: 33%;
  height: 200px;
  padding: 10px;
  text-align: left;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-work-container h1 {
  font-size: 1.1em;
  margin: 10px 0 15px 0;
}

.our-work-container p {
  font-size: 1em;
}

.work-image {
  width: 40px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* portfolio styling */
.portfolio-container {
  width: 33%;
  height: 200px;
  padding: 10px;
  text-align: left;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

/* for social media handles */
.social-icons img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 8px;
  background-color: transparent;
  box-sizing: border-box;
}

.social-icons img:hover {
  transform: scale(1.3);
  border: 1px solid grey;
  box-sizing: border-box;
}

/* blogs component styling */
.blogs-container {
  width: 33%;
  height: 350px;
  text-align: left;
  color: black;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.blog-post-image {
  width: 100%;
  height: 190px;
  padding: 10px;
  text-align: left;
  color: black;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-post-description {
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  text-align: left;
  /* color: white; */
  box-sizing: border-box;
  /* background-color: rgb(4, 5, 14); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-post-description h4 {
  font-size: 1.2em;
  font-weight: 600;
}

.blog-post-description a {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* color: white; */
}

.blog-post-description a:hover {
  color: rgb(77, 36, 36);
}
